{# Arista EOS EVPN Service Delete Template #}
{% set vlan = evpn.vlan %}
interface {{ interface.name }}
  switchport trunk allowed vlan remove {{ vlan.vlan_id }}
router bgp {{ evpn.asn }}
  no vlan {{ vlan.vlan_id }}
  exit
interface Vxlan1
  no vxlan vlan {{ vlan.vlan_id }} vni {{ evpn.vni }}
  exit
