{# Arista EOS EVPN Service Delete Template #}
{% set vlan = evpn.vlan %}
router bgp {{ evpn.asn }}
   vlan-aware-bundle {{ evpn.description }}
      no vlan {{ vlan.vlan_id }}
interface Vxlan1
   no vxlan vlan {{ vlan.vlan_id }} vni {{ evpn.vni }}
interface {{ interface.name }}
   switchport trunk allowed vlan remove {{ vlan.vlan_id }}
no vlan {{ vlan.vlan_id }}
