{# Arista EOS LAG Configuration Template #}
interface {{ lag.name }}
  description {{ lag.description }}
{% for member in lag.members %}
interface {{ member.name }}
  channel-group {{ lag.name.removeprefix("Port-Channel") }} mode {{ lag.lacp_mode }}
  exit
{% endfor %}
